@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.box-model {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.margin {
  width: 400px;
  height: 400px;
  background-color: #ff6f61;
  box-shadow: 1px 1px 3px #000000;
}

.border {
  width: 300px;
  height: 300px;
  background-color: #0f4c81;
  border: 2px solid black;
  box-shadow: 1px 1px 3px #000000;
}

.padding {
  width: 250px;
  height: 250px;
  background-color: #939597;
  box-shadow: 1px 1px 3px #000000;
}

.content {
  width: 200px;
  height: 200px;
  background-color: #6868ac;
  box-shadow: 1px 1px 3px #000000;
}

.border:hover,
.padding:hover,
.content:hover {
  width: 100%;
  transition: 1.5s all;
}

.border:hover {
  height: 350px;
}

.padding:hover {
  height: 300px;
}

.content:hover {
  height: 250px;
}
